<!DOCTYPE html>
<html>
        <head>
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <meta charset="utf-8">
                <title>Image Immersion: Cropping</title>
        </head>

        <body onload="make_base()">
                {% load static %}
                <script src="{% static "js/canvas.js" %}"></script>
                <!-- List of uploaded documents -->
                {% load staticfiles %}
                <canvas id="paint" style="border: 5px solid #000000;"  >
                  Update your browser to support HTML5 Canvas

                  {% if documents %}
                      <!-- <a href="{{ documents.last.docfile.url }}">
                          {{ documents.last.docfile.name }} -->
                          <img id = "uploadedPic" src="{{ documents.last.image.url }}"
                            alt="{{ documents.last.image.name }}">
                          </a>
                      <!-- </a> -->

                  {% else %}
                      <p>No documents.</p>
                  {% endif %}
                </canvas>

                <br>

                <button id="penciltool" type="button" style="height: 25px; width: 100px;" onclick="pencil()">Pencil</button>
                <button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button>

                <br>

                <input type="text" name="fname" id="fname"><br>
                <button id="save" onclick="save('{{csrf_token}}')">Save</button>

        </body>

</html>
